@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    height: 100%;
}
:root {
    --green-0: #ebfbee;
    --green-1: #d3f9d8;
    --green-2: #b2f2bb;
    --green-3: #8ce99a;
    --green-4: #69db7c;
    --green-5: #51cf66;
    --green-6: #40c057;
    --green-7: #37b24d;
    --green-8: #2f9e44;
    --green-9: #2b8a3e;
    --text: #404040;
    --dark: #333;
    --color-1: #ed6a5a;
    --color-2: #fdecef;
    --color-3: #f4b266;
}
.slick-prev::before {
    content: none;
}
.slick-next::before {
    content: none;
}
// .slideProducts .slick-prev::before {
//     content: '';
//     color: transparent;
// }
// .slideProducts .slick-next::before {
//     content: '';
//     color: transparent;
// }
// .slideProducts .slick-slide {
//     width: 335px;
//     display: inline-block;
// }
// @media screen and (max-width: 600px) {
//     .slideProducts .slick-prev {
//         top: 43%;
//         z-index: 30;
//     }
//     .slideProducts .slick-next {
//         top: 43%;
//         z-index: 30;
//     }
//     .slideProducts .slick-slide {
//         padding: 0;
//     }
// }
.slick-dots > li button:before {
    color: #8ce99a !important;
    transition: all 0.5s ease;
}
.slick-dots .slick-active button:before {
    color: #8ce99a !important;
    font-size: 10px;
    transition: all 0.5s ease;
}

.BannerHeight {
    height: calc(100vh - 80px);
}
// MORE BTN IS USED FOR BANNER AND DONATION
.MoreBtn {
    min-width: 200px;
    width: 200px;
    height: auto;
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding: 1rem 2rem;
    transition: 0.5s;
    background-color: black;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%); 
    background-size: 200% auto;
}
.MoreBtn:hover {
    background-position: right center;
    color: #fff !important;
}
//
.buttonLoginAtNavAndDonate {
    width: 100%;
    color: #fff;
    border-radius: 0;
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    box-shadow: 0 1px 8px #69db7c;
    padding: 1.5rem;
    transition: all 0.4s ease;
}
